.logo{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 40px !important; 
    color: #212529
}

.qr_c{
    margin-left: 5px;
}

.inp_g{
    width: 30%; 
    margin-left: auto;
    font-family: 'Play', sans-serif;
}

.sign_in{
    margin-left: auto;
    font-size: 26px;
}

.s_sign{
    margin-left: 10px;
}

header{
    border-bottom: 1px solid #dee2e6!important;
}

main{
    font-family: 'Play', sans-serif;
}

.dvconsole{
    background-color: #212529ed; 
    margin-bottom: -40px; 
    border-radius: 5px;
    border: .1em solid #000;
    border-radius: 0.5em;
    box-shadow: 1px 1px .5em black inset; 
    color: white; 
    padding-top: 10px;
}

.text_console{
    color: #82e033;
}

.tilda_c{
    color: #709dcd;
}

.btn-primary {
    color: #212529;
    background-color: transparent !important;
    border-color: #303438;
}

.btn-primary:hover{
    color: white;
    background-color: #303438 !important;
    border-color: #303438;
}

.form-signin{
    width: 100%;
max-width: 330px;
padding: 15px;
margin: auto;
font-family: 'Play', sans-serif;
text-align: center;
}

.logo_sign{
    font-family: 'Chakra Petch', sans-serif;font-size: 40px !important; color: #212529
}

.btn_sign{
    margin-bottom: 15px;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.admin{
    font-family: 'Play', sans-serif;
}

#sidebarMenu{
    padding: 10px 0 0;

}
.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  @media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
  }
  
  .sidebar .nav-link.active {
    color: #2470dc;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }
  

  .sign_out{
    font-size: 18px;
    text-align: center;
    border-top: 1px solid #dee2e6;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
  }

  .sign_out_fa{
    color: #212529;
    text-decoration: none;
  }

  .logo_admin{
    text-align: center;
    border-bottom: 1px solid #dee2e6;
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Chakra Petch', sans-serif;
  }
  
  .feather {
      margin-bottom: 2px;
  }

  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
  }

  .a_side{
      font-size: 16px;
  }